<!DOCTYPE html>
<html>
  <head>
    <title>ClockInOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

    <nav class="navbar">
      <div class="logo">
        <h1>HiMama Clock In Clock Out</h1>
      </div>

      <div class="login">
        <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'button' %>
          <%= link_to 'Log Out', logout_path, class: 'button' %>
        <% end %>
      </div>
    </nav>

  <div class="notice">
    <p id=”notice”><%= notice %></p>
  </div>


  <body>
    <%= yield %>
  </body>
</html>
